body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #FFFDD0;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

.card {
  background: white;
  padding: 10px;
  width: 200px;
  text-decoration: none;
  color: black;
  border: 2px solid blue;
}

.card img {
  width: 100%;
}

.box {
  background: white;
  margin: 30px;
  padding: 20px;
}

footer {
  margin: 20px;
}
